{
  "clientSecret": "GET FROM DISCORD APP",
  "clientID": "GET FROM DISCORD APP",
  "botToken": "GET FROM DISCORD USER",
  "prefix": ">",
  "fdo_key": "APIKEY-football-data_org",
  "timeFormat": "HH:MM",
  "dateFormat": "dd.mm.yyyy",
  "dateTimeFormat": "dd.mm.yyyy - HH:MM",
  "timezone": "europe/berlin",
  "database": {
    "type": "mysql",
    "host": "localhost",
    "user": "USERNAME",
    "name": "DBNAME",
    "password": "DBPASS"
  }
}
